<!-- Make view as cards grid-->
<div class="container">
  <h2>Productos</h2>
  <div class="input-group">
    <label for="dropdown1" >Order</label>
    <select class="custom-select" id="dropdown1">
      <option value="asc">Ascendant</option>
      <option value="desc">Descendant</option>
      <option value="" selected>None</option>
    </select>
    
    <label for="searchBox" >Category</label>
    <input type="text" class="form-control" id="searchBox" placeholder="e.g. Cutlery...">
    
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="filterButton">Filter</button>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
       
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
      
    </thead>

    <tbody> 
    {{#each data.payload}}
      <tr>
        <td>{{this.code}}</td>
        <td><a class="page-link" href="../product/{{this._id}}" >{{this.title}}</a></td>
        <td>${{this.price}}</td>
        <td>{{this.stock}}</td>
        <td>
          <button type="button" class="btn btn-success" onclick="addProductToCart('{{this._id}}')">Add to Cart</button>
        </td>
      </tr>
    {{/each}}

    
  </table>
  {{#if invalidPageError}}
      <h3 class="text-danger">Error: Invalid page</h3>
  {{/if}}


  <ul class="pagination">
    <li class="page-item {{#unless data.hasPrevPage}} disabled {{/unless}}">
      <a class="page-link" href="{{data.prevPage}}" {{#unless data.hasPrevPage}} tabindex="-1"{{/unless}}>Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="{{data.page}}">{{data.page}} <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item {{#unless data.hasNextPage}} disabled {{/unless}}">
      <a class="page-link" href="{{data.nextPage}}" {{#unless data.hasNextPage}} tabindex="-1"{{/unless}}>Next</a>
    </li>
  </ul>
</div>